/*.tex text eol=lf
/band-dependencies.tsv text eol=lf
/cache-inputs.tsv text eol=lf
latexmkrc text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.github/workflows/**/*.yml text eol=lf
.github/workflows/**/*.yaml text eol=lf
scripts/**/*.ps1 text eol=lf
tex/**/*.tex text eol=lf
tex/**/*.lua text eol=lf

*.pdf binary
